      .home-head {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        //background-color: #545454;
        //background-image: url('../images/home_video_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .main-header {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #252525;
      }
      
      .main-header_home {
        background-color: rgba(0, 0, 0, 0.65);
      }
      
      .main-header-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      
      .main-header-nav__logo {
        max-width: 300px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        color: #fefefe;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        a {
          display: inline-block;
          margin-right: 15px;
          img {
            display: inline-block;
            max-width: 100%;
            margin-left: 40px;
          }
        }
        span {
          display: inline-block;
          margin-left: 10px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      
      .main-header-nav__info {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: #fefefe;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        span {
          display: inline-block;
          margin-left: 25px;
        }
        img {
          display: inline-block;
          margin-right: 12px;
        }
        a {
          display: inline-block;
          margin-left: 25px;
          padding: 12px 24px;
          color: #fefefe;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
          border: 1px solid #367d14;
          border-radius: 3px;
          background-color: transparent;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            border-color: white;
            background-color: white;
            color: #010101;
            text-decoration: none;
          }
        }
      }
      
      .main-header__map {
        display: flex !important;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;
      }
      
      .main-header__phone {
        color: #fefefe;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: right;
      }
      
      .home-header__title {
        text-align: center;
        span {
          display: inline-block;
          margin-bottom: 10px;
          color: #fefefe;
          font-family: Raleway;
          font-size: 48px;
          font-weight: 300;
          line-height: 55px;
        }
        p {
          color: #fefefe;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
        }
      }
      
      .home-header__bottom {
        display: flex;
        padding-bottom: 40px;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        span {
          display: block;
          margin-bottom: 10px;
          color: #fefefe;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
        }
      }
      
      .home-header__about {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        min-width: 300px;
        min-height: 200px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-out;
        img {
          display: inline-block;
          margin-bottom: 25px;
          transition: all 0.2s ease-out;
        }
        span {
          display: inline-block;
          color: #fefefe;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: none;
          transition: all 0.2s ease-out;
        }
        &:hover {
          background-color: #4ec800;
          img {
            transform: scale(1.1);
          }
          span {
            text-decoration: underline;
          }
        }
      }
      
      .home-works {
        display: flex;
        flex-flow: row wrap;
        div {
          width: 33.3333%;
        }
      }
      
      .home-works-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 590px;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.75);
          hr {
            width: 150px;
          }
        }
        span {
          color: #fefefe;
          font-family: Raleway;
          font-size: 52px;
          font-weight: 300;
          line-height: 74px;
        }
        hr {
          width: 50px;
          border-color: white;
          transition: all 0.2s ease-out;
        }
        i {
          color: #fefefe;
          font-family: Raleway;
          font-size: 20px;
          line-height: 28px;
        }
        p {
          color: #fefefe;
          font-family: Raleway;
          font-size: 30px;
          font-weight: 300;
          line-height: 74px;
        }
      }
      
      .home-about {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 60vh;
        padding-top: 100px;
        padding-bottom: 100px;
        color: white;
        font-family: Raleway;
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0.5);
        span {
          color: #58cf55;
          font-weight: 700;
        }
      }
      
      .home-about__title {
        font-size: 36px;
        line-height: 22px;
      }
      
      .home-about__nice {
        font-size: 60px;
        line-height: 22px;
        margin-top: 60px;
        margin-bottom: 130px;
      }
      
      .home-about-stats {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      
      .home-about-stats-card {
        display: flex;
        flex-flow: column wrap;
        max-width: 250px;
        margin-left: 25px;
        margin-right: 25px;
      }
      
      .home-about-stats-card__number {
        display: block;
        margin-bottom: 20px;
        font-family: Raleway;
        line-height: 22px;
        color: white;
        font-size: 50px;
        font-weight: 300;
        strong {
          font-family: Raleway;
          line-height: 22px;
          color: #58cf55;
          font-size: 50px;
          font-weight: 700;
        }
        span {
          display: inline-block;
          margin-left: 10px;
          font-family: Raleway;
          line-height: 22px;
          color: white;
          font-size: 36px;
          font-weight: 300;
        }
        .home-about-stats-card__number_top {
          display: inline-block;
          margin: 0;
          font-size: 24px;
          margin-top: -10px;
          vertical-align: top;
        }
      }
      
      .home-about-stats-card__what {
        color: white;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
      }
      
      .home-features {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      
      .home-features__title {
        display: block;
        max-width: 740px;
        color: #010101;
        margin: 0 auto 60px;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 44px;
        text-align: center;
      }
      
      .home-features-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      
      .home-features-card {
        display: flex;
        flex-flow: row nowrap;
        max-width: 550px;
        min-height: 150px;
        img {
          display: block;
          margin-right: 40px;
          margin-bottom: 10px;
          width: 65px;
          height: 65px;
          object-fit: contain;
        }
        span {
          display: block;
          margin-bottom: 10px;
          color: #010101;
          font-family: Raleway;
          font-size: 24px;
          font-weight: 300;
          line-height: 1;
        }
        p {
          color: rgba(1, 1, 1, 0.52);
          font-family: Raleway;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
      }
      
      .home-features-recall {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 680px;
        padding: 45px 65px 35px;
        background-color: #b4d579;
        input {
          width: 100%;
          margin-bottom: 10px;
          padding: 22px 26px 22px;
          border: none;
          outline: none;
          background-color: white;
          border-radius: 5px;
          color: #595959;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          transition: all 0.2s ease-out;
          &:focus {
            background-color: #f7f7f7;
          }
        }
        input[type='button'] {
          background-color: #498b47;
          background-image: linear-gradient(to right, #498b47 0%, #4daa4a 100%);
          border-radius: 5px;
          padding: 22px 40px;
          color: white;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          transition: all 0.2s ease-out;
          &:hover {
            background-image: none;
            background-color: #4daa4a;
          }
        }
      }
      
      .home-clients {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #f7f7f7;
        text-align: center;
        p {
          display: block;
          max-width: 540px;
          margin: 10px auto 45px;
          color: #595959;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          text-align: center;
        }
      }
      
      .home-clients__title {
        color: #010101;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 44px;
      }
      
      .home-clients-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      
      .home-clients-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 130px;
        margin-bottom: 15px;
        overflow: hidden;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      
      .home-workers {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding-top: 100px;
        padding-bottom: 100px;
        color: white;
        text-align: center;
        background-color: #545454;
        background-image: url('../images/home_video_3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p {
          display: block;
          max-width: 520px;
          margin: 0 auto 25px;
          color: white;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          text-align: center;
        }
      }
      
      .home-workers__title {
        display: block;
        margin: 0 auto 10px;
        color: white;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 44px;
        text-align: center;
      }
      
      .home-workers-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div {
          width: 180px;
          height: 240px;
          border-radius: 3px;
          margin-bottom: 15px;
        }
      }
      
      .home-workers-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
        width: 180px;
        height: 240px;
        span {
          display: block;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.42);
          padding: 10px 20px;
          color: white;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
        }
      }
      
      .home-seo {
        padding-top: 100px;
        padding-bottom: 100px;
        font-family: Raleway;
        line-height: 24px;
        color: #545454;
        font-size: 16px;
        font-weight: 300;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: black;
          font-family: Raleway;
        }
        h1 {
          color: black;
          font-family: Raleway;
          font-size: 28px;
          font-weight: 300;
          line-height: 30px;
        }
        h2 {
          color: black;
          font-size: 18px;
          font-weight: 500;
        }
        h3 {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
        }
        i {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
        }
        .home-seo__info {
          display: block;
          margin: 10px 0 10px;
          padding: 26px 40px;
          background-color: #ececec;
          color: black;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
        }
      }
      
      .home-map {
        margin-bottom: -30px;
      }
      
      .home-map-block {
        position: absolute;
        width: 50%;
        height: 770px;
        padding: 100px;
        background-color: rgba(0, 0, 0, 0.68);
        color: white;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        p {
          margin-bottom: 30px;
        }
        b {
          font-weight: 600;
        }
      }
      
      .home-map-block__title {
        color: white;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 44px;
      }
      
      .home-map-block-form {
        display: block;
        max-width: 380px;
        margin-top: 15px;
        padding: 40px 20px;
        background-color: rgba(0, 0, 0, 0.52);
        border-radius: 5px;
        span {
          display: block;
          margin-bottom: 10px;
          color: white;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
        input {
          width: 100%;
          margin-bottom: 5px;
          padding: 18px;
          border: none;
          outline: none;
          border: 1px solid #777;
          border-radius: 3px;
          background-color: transparent;
          transition: all 0.2s ease-out;
          color: white;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
        input[type='button'] {
          background-color: #498b47;
          background-image: linear-gradient(to right, rgba(73, 139, 71, 0.81) 0%, rgba(80, 222, 76, 0.81) 100%);
          border-radius: 3px;
          border-color: #498b47;
          color: white;
          font-family: Raleway;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          &:hover,
          &:active,
          &:focus {
            background-image: none;
            background-color: #4daa4a;
          }
        }
      }
      
      .main-footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #282828;
      }
      
      .main-footer__nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        li {
          a {
            display: inline-block;
            padding: 10px;
            color: white;
            font-family: Raleway;
            font-size: 18px;
            font-weight: 300;
            line-height: 44px;
            transition: all 0.2s ease-out;
            &:hover {
              text-decoration: none;
              color: #58cf55;
            }
          }
        }
      }
      
      .creators {
        display: block;
        text-align: center;
        color: #a2a1a1;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 300;
        line-height: 44px;
        a {
          color: #a2a1a1;
          text-decoration: underline;
          transition: all 0.2s ease-out;
          &:hover {
            text-decoration: none;
            color: #58cf55;
          }
        }
      }
      
      .main-content {
        padding-top: 40px;
        padding-bottom: 100px;
      }
      
      .main-sidebar {
        margin: 0;
        padding: 0;
        padding-right: 30px;
        list-style: none;
        li {
          a {
            display: flex;
            align-items: center;
            min-height: 55px;
            margin-bottom: 10px;
            padding: 10px 20px;
            background-color: rgba(255, 255, 255, 0.92);
            border-radius: 3px;
            box-shadow: 2.6px 4.2px 13px rgba(0, 0, 0, 0.15);
            color: #6f8e26;
            font-family: Raleway;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            overflow: hidden;
            transition: all 0.2s ease-out;
            &:hover,
            &:active,
            &:focus {
              background-color: #8eb82c;
              box-shadow: none;
              color: white;
              font-family: Raleway;
              font-size: 14px;
              font-weight: 300;
              line-height: 16px;
              text-decoration: none;
            }
          }
        }
      }
      
      .main-sidebar_active {
        background-color: #8eb82c !important;
        box-shadow: none !important;
        color: white !important;
        text-decoration: none;
        transition: all 0.2s ease-out;
      }
      
      .main-content-breadcrump {
        display: block;
        margin-bottom: 40px;
        color: black;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        span {
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
        a {
          color: black;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: underline;
          transition: all 0.2s ease-out;
          &:hover {
            color: #4daa4a;
            text-decoration: none;
          }
        }
      }
      
      .main-content__title {
        display: block;
        margin-bottom: 30px;
        color: black;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 62px;
      }
      
      .portfolio-works {
        display: flex;
        flex-flow: row wrap;
        div {
          width: 33.3333%;
        }
      }
      
      .portfolio-works-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 290px;
        background-color: rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.75);
          hr {
            width: 150px;
          }
        }
        span {
          color: #fefefe;
          font-family: Raleway;
          font-size: 26px;
          font-weight: 300;
          line-height: 37px;
        }
        hr {
          width: 50px;
          border-color: white;
          transition: all 0.2s ease-out;
        }
        i {
          color: #fefefe;
          font-family: Raleway;
          font-size: 10px;
          font-style: italic;
          line-height: 14px;
        }
        p {
          color: #fefefe;
          font-family: Raleway;
          font-size: 15px;
          font-weight: 300;
          line-height: 37px;
        }
      }
      
      .features-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        div {
          width: 280px;
          margin: 0px 6px 12px;
        }
      }
      
      .features-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160px;
        padding-top: 80px;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-align: center;
        overflow: hidden;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          color: white;
        }
        span {
          max-width: 230px;
        }
      }
      
      .about-article {
        color: #545454;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        iframe {
          margin-bottom: 25px;
        }
      }
      
      .about-article__title {
        display: block;
        margin-top: 50px;
        margin-bottom: 25px;
        color: #545454;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .about-workers-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div {
          width: 135px;
          height: 180px;
          border-radius: 3px;
          margin-bottom: 15px;
        }
      }
      
      .about-workers-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
        span {
          display: block;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.42);
          padding: 8px 12px;
          border-radius: 0 0 3px 3px;
          color: white;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          text-align: center;
        }
      }
      
      .feature-info {
        margin-bottom: 20px;
        img {
          display: inline-block;
          max-width: 42px;
          margin-right: 10px;
        }
      }
      
      .feature-article {
        color: #545454;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        img {
          margin-bottom: 20px;
          display: block;
          max-width: 100%;
        }
      }
      
      .feature-article__title {
        display: block;
        margin-top: 30px;
        margin-bottom: 15px;
        color: #545454;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
      
      .example-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        div {
          width: 170px;
          margin: 2px;
          border-radius: 3px;
        }
      }
      
      .example-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 170px;
        transition: all 0.2s ease-out;
        img {
          transition: all 0.2s ease-out;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          img {
            transform: scale(1.1);
          }
        }
      }
      
      .example-article {
        margin-bottom: 30px;
        color: #545454;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      
      .reviews-card {
        margin-bottom: 15px;
        padding: 32px 26px;
        background-color: white;
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        color: #545454;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        span {
          display: block;
          margin-bottom: 15px;
          color: #545454;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
      }
      
      .home-home {
        width: 100%;
        min-height: 100% !important;
        height: 1200px;
        background-image: url('../images/grass.png');
        background-size: 1300px;
        background-position: center;
        background-position-y: 70%;
        background-repeat: no-repeat;
        .home-features-recall {
          background-color: rgba(133, 173, 37, 0.8);
        }
        .container {
          background-image: url('../images/home.png');
          background-size: 100%;
          background-position: center;
          background-position-y: 48%;
          background-repeat: no-repeat;
        }
      }
      
      .home-home_flex {
        height: 1200px;
        padding-top: 80px;
        padding-bottom: 30px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
      }
      
      .home-home__title {
        display: block;
        margin-bottom: 25px;
        color: rgb(1, 1, 1);
        font-family: Raleway;
        font-size: 36px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
      }
      
      .home-home-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          a {
            display: inline-flex;
            align-items: center;
            width: 270px;
            min-height: 70px;
            margin-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 15px;
            background-color: white;
            box-shadow: 2.6px 4.2px 13px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            color: #6f8e26;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-decoration: none;
            transition: all 0.2s ease-out;
            &:hover {
              text-decoration: none;
              background-color: #8fb92d;
              box-shadow: none;
              color: white;
            }
          }
        }
      }
      
      .home-home-nav_active {
        text-decoration: none !important;
        background-color: #8fb92d !important;
        color: white !important;
      }
      
      .home_dot {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #8fb92d;
        border-radius: 50px;
        transition: all 0.2s ease-out;
        &:hover {
          box-shadow: 0 0 21.3px 5.7px white;
          text-decoration: none;
        }
      }
      
      .home-dot_active {
        box-shadow: 0 0 21.3px 5.7px white;
      }
      
      #dot_1 {
        position: absolute;
        margin-top: 570px;
        margin-left: -55px;
      }
      
      #dot_2 {
        position: absolute;
        margin-top: 450px;
        margin-left: -20px;
      }
      
      #dot_3 {
        position: absolute;
        margin-top: 585px;
        margin-left: 180px;
      }
      
      #dot_4 {
        position: absolute;
        margin-top: 530px;
        margin-left: 220px;
      }
      
      #dot_5 {
        position: absolute;
        margin-top: 430px;
        margin-left: 230px;
      }
      
      #dot_6 {
        position: absolute;
        margin-top: 550px;
        margin-left: 350px;
      }
      
      #dot_7 {
        position: absolute;
        margin-top: 460px;
        margin-left: 285px;
      }

      @-moz-document url-prefix() {
        .home_dot {
          display: inline;
        }
        .home-home_flex {
          display: block;
          .home-features-recall {
            margin-top: 500px;
          }
        }
        #dot_1 {
          position: absolute;
          margin-top: -470px;
          margin-left: -65px;
        }
        
        #dot_2 {
          position: absolute;
          margin-top: -600px;
          margin-left: -20px;
        }
        
        #dot_3 {
          position: absolute;
          margin-top: -470px;
          margin-left: 170px;
        }
        
        #dot_4 {
          position: absolute;
          margin-top: -500px;
          margin-left: 200px;
        }
        
        #dot_5 {
          position: absolute;
          margin-top: -620px;
          margin-left: 215px;
        }
        
        #dot_6 {
          position: absolute;
          margin-top: -480px;
          margin-left: 340px;
        }
        
        #dot_7 {
          position: absolute;
          margin-top: -580px;
          margin-left: 275px;
        }
      }