@media (max-width: 1200px) {
  .home_dot {
    display: none;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-header-nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .main-header-nav__info {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    span {
      margin: 0;
    }
    a {
      margin: 5px;
    }
  }
  .burger {
    margin-bottom: 10px;
  }
  .home-header__title {
    span {
      font-size: 28px;
      line-height: 1;
    }
  }
  .home-works {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    div {
      width: 100%;
    }
  }
  .home-works-card {
    height: 300px;
  }
  .home-about__nice {
    font-size: 28px;
    line-height: 1.25;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .home-about {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-about-stats {
    flex-flow: column wrap;
  }
  .home-about-stats-card {
    margin: 0;
    margin-bottom: 15px;
  }
  .home-about-stats-card__number {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .home-features {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-features__title {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  .home-features-card {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin: 0px auto 10px;
    }
  }
  .home-features-recall {
    padding: 20px;
    margin-bottom: 0;
    input {
      padding: 15px;
      line-height: 1;
    }
    input[type='button'] {
      padding: 15px 5px;
      font-size: 12px;
      line-height: 1;
    }
  }
  .home-clients {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-clients-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-workers {
    padding-top: 20px;
    padding-bottom: 20px;
    .home-workers-cards {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
  }
  .home-seo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-map {
    iframe {
      height: 300px;
    }
  }
  .home-map-block {
    width: 100%;
    position: relative;
    height: auto;
    padding: 15px;
  }
  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-footer__nav {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    li {
      a {
        line-height: 1;
      }
    }
  }
  .main-header-nav__logo {
    margin-bottom: 10px;
    img {
      margin-left: 10px;
    }
  }
  .portfolio-works {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    div {
      width: 100%;
    }
  }
  .portfolio-works-card {
    height: 200px;
  }
  .main-content {
    padding-top: 20px;
    padding-bottom: 40px;
    .col-sm-9 {
      .row {
        padding: 10px;
      }
    }
  }
  .main-sidebar {
    padding: 0;
  }
  .main-content-breadcrump {
    margin-bottom: 20px;
  }
  .main-content-breadcrump {
    line-height: 1.25;
  }
  .about-workers-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .about-article__title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main-content__title {
    font-size: 28px;
    line-height: 1.25;
  }
  .home-header__about {
    display: none;
  }
  .menu__link {
    font-size: 20px;
    line-height: 1.2;
  }
  .logo {
    span {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  #home-video-1 {
    display: none;
  }
  .home-head {
    background: url('../images/home_video_1.jpg');
    background-size: cover;
    background-position: center;
  }
  .home-about {
    background: url('../images/home_video_2.jpg');
    background-size: cover;
    background-position: center;
  }
  .home-home-flex {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-home__title {
    font-size: 24px;
  }
  .home-home-nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home_dot {
    display: none;
  }
  .home-features-recall {
    width: 100%;
  }
  .home-about__title {
    line-height: 0.8;
    text-align: center;
  }
  .home-workers {
    background: #498b47;
  }
  .home-home {
    height: 1100px;
    background: none;
    .container {
      background: none;
    }
    .home-home_flex {
      flex-flow: column nowrap;
      height: 1100px;
    }
  }
  @-moz-document url-prefix() {
    .home-home_flex {
      display: block;
      .home-features-recall {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}