#home-video-1 {
  position: absolute;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: black;
}

#home-video-2 {
  position: relative;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: black;
}

#home-video-3 {
  position: relative;
  background: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: black;
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

$primary-color: rgba(0, 0, 0, 0.9);
;
@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: relative;
  z-index: 10;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;
  &__patty {
    width: 32px;
    height: 2px;
    margin: 0 0 8px 0;
    background: white;
    @include easeOut;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--close {
    transform: rotate(180deg);
    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 5;
  &--active {
    visibility: visible;
  }
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  &__brand {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    font-family: Raleway;
    font-weight: 300;
    @include easeOut;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }
    &:hover {
      text-decoration: none;
      color: white;
      &:before {
        width: 100%;
      }
    }
  }
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__brand {
    height: auto;
    transform: translate3d(100%, 0, 0);
  }
}

.logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: Raleway;
  font-size: 20px;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
  a {
    display: inline-block;
    color: #98c663;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 42px;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fefefe;
    }
  }
}

.example {
  background-size: contain;
}

.modal.in .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}