@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('../fonts/Raleway-Black.ttf');
}

body {
  font-family: 'Raleway', sans-serif;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/youtubeBackground/src/_style.scss";
//@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
//@import "bower_components/owl/owl-carousel/_owl.theme.scss";
//@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/dist/css/_lightbox.scss";
// endbower
@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";